body {
      position: relative; 
}
.affix {
      top:  0;
      width: 100%;
      z-index: 9999;
}
.navbar {
      margin-bottom: 0px;
      border-radius: 0px;
}
.jumbotron {
      height: 1000px;
}
.jumbotron video {
      background-size: cover;
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
}
.affix ~ .container-fluid {
     position: relative;
     top: 50px;
}
.overlay {
      z-index: 1;
      position: relative;
      text-align: center;
}
.vertical-center {
      min-height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      color: white;
}
.sections {
      position: relative;
}
#section1 {
      text-align: center;
      padding-top: 170px;
      height: 500px;
      color: #fff;
      background-color: #1E88E5;
}
#section2 {
      text-align: center;
      padding-top: 170px;
      height: 500px;
      color: #fff;
      background-color: #673ab7;
}
#section3 {
      text-align: center;
      padding-top: 170px;
      height: 500px;
      color: #fff;
      background-color: #ff9800;

}
#section4 {
      text-align: center;
      padding-top: 170px;
      height: 500px;
      color: black;
      background-color: #00bcd4;
}

.uName {
      border: 1px;
      border-radius: 4px;
}
.uEmail {
      border: 1px;
      border-radius: 4px;
}
.uComm {
      border: 1px;
      border-radius: 4px;
      position: relative;
      right: -18px;
      text-align: left;
      vertical-align: top;

}
.textbox-3 {
      position: relative;
      right: -80px;
      vertical-align: top;
}